doctype html
html
  head
    link(rel="stylesheet" href="css/base.css")
    link(rel="shortcut icon" type="image/png" href="assets/logo.png")
    title appMovie
  
  body
    #app
      #nav.container
        router-link(to='/') Main
        |  ᛫ 
        router-link(to='/login') Log In
      router-view
